/* Styles for the Homepage */
.content-wrapper {
    text-align: center;
}

.squares-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.square-img-left, .square-img-right {
    display: grid;
    align-items: center;
}

.square-img-left {
    grid-template-columns: 1fr 1.5fr;
}

.square-img-right {
    grid-template-columns: 1.5fr 1fr;
}

.square-image img {
    width: 100%;
}

#code {
    width: 1200px;
}

.page-header {
    background-image: url('../Images/purple.jpg');
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
