/* Main Styles */
body {
    margin: 0px;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: -20px;
}

a {
    color: indigo;
}

a:hover {
    color: darkviolet;
}

.spacer80 {
    height: 80px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.page-wrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: rebeccapurple;
}